
@media (max-width: 1440px) {
    .subtitle {
        padding: 30px 15px;
    }
}

@media (max-width: 1200px) {
    .greetings {
        display: flex;
    }

    .aboutMe_blocksPad {
        margin-top: 30px;
    }

    .blocks {
        width: 100%;
        margin-left: 0;
    }

    .sidebar,
    .nav__list  {
        display: none;
    }

    .content {
        margin-top: 0px;
    }
}

@media (max-width: 658px) {
    .skillsWrapper,
    .myEducation,
    .myExpirience {
        flex-direction: column;
    }

    .university p,
    .school p,
    .firstWork ul, 
    .secondWork ul {
        max-width: 100%;
    } 

    .languageSkills,
    .university,
    .mWork {
        margin-top: calc(10px + 15 * (100vw / 767));
    }
}

@media (max-width: 575px) {
    .examples {
        flex-direction: column;
        align-items: center;
    }
    .examSecond {
        margin-top: 20px;
        margin-left: 0;
    }
}

@media (max-width: 429px) {
    .personalDetails {
        letter-spacing: normal;
    }

    .personalDetails table {
        font-size: 12px;
    }
}

@media (max-width: 374px) {
    .personalDetails table {
        font-size: 10px;
    }
}

@media (max-width: 340px) {
    .personalDetails table {
        font-size: 9px;
    }
}