::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(34, 34, 34);
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(34,34,34,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(231, 189, 2); 
    -webkit-box-shadow: inset 0 0 6px rgba(34,34,34,0.5); 
}